@use 'variables';

/* Layout helpers */
.nowrap { white-space: nowrap; }
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }


/* Bootstrap overrides */
main>.container {
	padding: 2.5em 1em 1.5em;
}

.page-heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3em;
}




.box {
	background-color: variables.$colorGrayLight;
	padding: 1em 1.25em;

	&.yellow {
		background-color: variables.$colorYellowLight;
	}

	&.rounded {
		border-radius: 0.35rem;
	}

	&.full-height {
		height: 100%;
	}

	>:last-child {
		margin-bottom: 0 !important;
	}
}

.app-status-bar {
	display: none;
	padding: 0.3em 2em;
	text-align: center;
	background-color: variables.$colorNegative;
	color: white;

	p {
		margin: 0;
	}

	&.visible {
		display: block;
	}
}
