@use 'grid';
@use 'variables';

@mixin inputPlaceholderStyle {
	&::-webkit-input-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&::-ms-placeholder {
		@content;
	}

	&::placeholder {
		@content;
	}
}

@mixin text-size-adjust($value: none) {
  -webkit-text-size-adjust: $value; 
  -moz-text-size-adjust: $value;
  -ms-text-size-adjust: $value; 
}

@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
	{
		@content;
	}
}

@mixin hover-enabled {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

@mixin touch-enabled {
	@media (hover: none) and (pointer: coarse) {
		@content;
	}
}

@mixin icon-font {
	display: inline-block;
	vertical-align: middle;
	font-family: 'sbc-icon' !important;
	font-size: 1em;
	line-height: 1em;
	font-style: normal !important;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin list-reset {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
	}
}

@mixin button-reset {
	border: none;
	box-sizing: border-box;
	background-color: transparent;
	padding: 0;
	font-size: 1em;
	line-height: 1em;
	cursor: pointer;		
	user-select: none;
	appearance: none;
	border-radius: 0;
	white-space: nowrap;
	touch-action: manipulation; // prevent double-tap zoom on iOS	
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

@mixin link-transition {
	transition-property: background-color, color, border-color;
	transition-duration: variables.$hoverAnimationDuration;
	transition-timing-function: ease-out;	
}

@mixin ellipsis {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}
